h1,
p {
  font-family: 'Indie Flower', regular;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

.main-container {
  min-height: calc(100vh - 60px);
  background: #ffffff;
  padding: 20px;
  border: solid 10px #bdbdbd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  font-size: 5em;
  color: #545454;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .title {
    font-size: 3.5em;
    margin-bottom: 8px;
  }
}
