.image-container {
  flex: 0 0 10%;
  margin: 20px;
}

.image-enrichment {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .image-enrichment {
    height: 300px;
    width: 300px;
  }
}
